<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.ac.st.asojuku.layouttraining001"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="jp.ac.st.asojuku.layouttraining001.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="FrameLayoutの練習" android:name="jp.ac.st.asojuku.layouttraining001.FrameLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.actino.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category></intent-filter></activity>
        <activity android:label="LinearLayoutの練習" android:name="jp.ac.st.asojuku.layouttraining001.LinearLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.actino.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category></intent-filter></activity>
        <activity android:label="RelativeLayoutの練習" android:name="jp.ac.st.asojuku.layouttraining001.RelativeLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.actino.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category></intent-filter></activity>
        <activity android:label="TableLayoutの練習" android:name="jp.ac.st.asojuku.layouttraining001.TableLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.actino.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category></intent-filter></activity>
        <activity android:label="GridLayoutの練習" android:name="jp.ac.st.asojuku.layouttraining001.GridLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.actino.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category></intent-filter></activity>
        </application>

</manifest>
